.input1 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input2 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: 40px;
    border-radius: 10px;
    margin-top: -20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input3 {
    width: 45%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input4 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: -10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input5 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: -20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input6 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input7 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: -10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input8 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: -40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input9 {
    width: 85%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    margin-bottom: -10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.container_IMC {
    padding: 50px;
    height: 210px;
    width: 130px;
    background-color: #0E02E6;
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10% 45%;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #ffff00;
}

.container_triequi {
    padding: 50px;
    height: 180px;
    width: 130px;
    background-color: #0E02E6;
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10% 45%;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #ffff00;
}

.container_trapezio {
    padding: 50px;
    height: 200px;
    width: 130px;
    background-color: #0E02E6;
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10% 45%;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #ffff00;
}

.container_retangulo {
    padding: 50px;
    height: 200px;
    width: 130px;
    background-color: #0E02E6;
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10% 45%;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #ffff00;
}

.container_quadrado {
    padding: 50px;
    height: 150px;
    width: 130px;
    background-color: #0E02E6;
    text-align: center;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10% 45%;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: #ffff00;
}

.btn {
    background-color: white;
    padding: 10px;
    width: 77px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    color: black;
    border: solid 2px;
    border-color: #ffff00;
    margin-top: -60px;
}

.btn:hover {
    background-color: #ffff00;
    /* Green */
    color: blue;
    border-color: darkblue;
}

.title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff00;
    margin-top: -40px;
}

#containerIMC{
    display: none;
}

#containertriequi{
    display: none;
}

#containertrapezio{
    display: none;
}

#containerretangulo{
    display: none;
}

#containerquadrado{
    display: none;
}

